<body>
    <section class="recent-properties">
        <div class="header">
            <h2>Recent Properties</h2>
            <button class="view-all-btn">View all properties</button>
        </div>
        <div class="properties-grid">
            <div class="property-card">
                <img src="assets/prop3.webp" alt="Property 1">
                <div class="property-info">
                    <h3>$1,291,000</h3>
                    <p>5232 California Fake, Ave. 21BC</p>
                    <p><strong>California, USA</strong></p>
                    <p><i class="fa fa-bed"></i> 2 beds &nbsp; <i class="fa fa-bath"></i> 2 baths</p>
                    <button class="details-btn">See details</button>
                </div>
            </div>
            <div class="property-card">
                <img [src]="'assets/prop2.jpg'" alt="Property 2">
                <div class="property-info">
                    <h3>$1,291,000</h3>
                    <p>5232 California Fake, Ave. 21BC</p>
                    <p><strong>California, USA</strong></p>
                    <p><i class="fa fa-bed"></i> 2 beds &nbsp; <i class="fa fa-bath"></i> 2 baths</p>
                    <button class="details-btn">See details</button>
                </div>
            </div>
            <div class="property-card">
                <img src="../../../assets/prop1.jpg" alt="Property 3">
                <div class="property-info">
                    <h3>$1,291,000</h3>
                    <p>5232 California Fake, Ave. 21BC</p>
                    <p><strong>California, USA</strong></p>
                    <p><i class="fa fa-bed"></i> 2 beds &nbsp; <i class="fa fa-bath"></i> 2 baths</p>
                    <button class="details-btn">See details</button>
                </div>
            </div>
            
            
        </div>
        <div class="pagination">
            <button class="pagination-btn">Prev</button>
            <button class="pagination-btn">Next</button>
        </div>
    </section>
</body>